@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}


body{
    .bg-image{
       position: absolute;
       z-index: -1;
       opacity: 0.5;
       transform: scale(0.4);
       overflow: hidden;
       width: auto;
    }
    height: 100vh;
    font-family: 'Righteous', sans-serif;
    font-size: 2.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    #wishTitle{
        padding-bottom: 30px;
    }
    @media screen and (max-width: 480px) {
        .bg-image{
            width: 110vh;
        }
        
        h1{
            font-size: 40px;
        }
        h2{
            font-size: 30px;
        }
        h4{
            font-size: 30px;
        }
        .timer{
            justify-content: space-evenly !important;
            #hour{
                padding-left: 10px;
            }
            #second{
                padding-right: 10px;
            }
        }
    }
    .timer{
        margin-top: 40px;
        width: 30rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


